DEBUG=True
SECRET_KEY=change-me-in-production
POSTGRES_DB=budget_db
POSTGRES_USER=budget_user
POSTGRES_PASSWORD=budget_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
ALLOWED_HOSTS=*
APP_PORT=8000
CSV_FILE_PATH=/app/data/sample_transactions.csv
